* {

	box-sizing: border-box;
}

html {
	font-size: 1rem;
	font-family: 'Muli', sans-serif;
	text-transform: uppercase;
}


/* -- CARD INFO -- */
.card {
	background: #E6ECEB;
	color: #999;
	flex: display;
}

.city_name {
	font-size: 2rem;
}

.temperature {
	font-size: 10rem;
}


/* -- 5 DAY FORECAST -- */

.flex-container {
	display: flex; /* block-level flex container */
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.item {
    background-color: gray;
    text-align: center;
    flex: 1 1 0;
    border: 1px solid red;
}




@media screen and (max-width:990px) {
  .flex-container { flex-wrap: wrap;  }
  .item { flex-basis: 100%; }
}




