
* {
	font-family: 'Muli', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.card {
	background: #E6ECEB;
	width: 400px;
	height: 400px;
	margin: 20px;
	padding: 20px;
	text-align: center;
	color: #999;
}

.city_name {
	font-size: 2em;
	letter-spacing: 3px;
}

.temperature {
	font-size: 10em;
}


/*https://tympanus.net/codrops/css_reference/flexbox/*/

/*The first step to start using Flexbox is to create a flex container. Children of a flex container are called the flex items*/

.flex-container {
	display: flex; /* block-level flex container */
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.container-1 {
    flex-flow: row wrap;
}

.item {
    background-color: gray;
    margin: 2px;
    text-align: center;
    line-height: 100px;
    font-size: 1em;
    flex: 1 1 0;
}







