
* {
	font-family: 'Muli', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.card {
	width: 400px;
	height: 400px;
	background: #E6ECEB;
	margin: 20px;
	float: left;
	padding: 20px;
	text-align: center;
	color: #999;
}

.city_name {
	font-size: 2em;
	letter-spacing: 3px;
}

.temperature {
	font-size: 10em;
}

.column {
    flex: 1;
    /*for demo purposes only */
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.column-one {
    order: 3;
}
.column-two {
    order: 1;
}
.column-three {
    order: 4;
}