
{{!-- https://openweathermap.org/current --}}

<div class="card">
	<span class='city_name'>{{name}}</span> <br> <!-- city name -->
	{{#each weather}} {{main}} {{/each}} <br> <!-- description -->
	<span class='temperature'>{{convertTemp main.temp}}&deg; </span><br> <!-- temp farenheit -->
</div>

<div class='flex-container'>
	<div class='item'>1</div>
	<div class='item'>2</div>
	<div class='item'>3</div>
	<div class='item'>4</div>
	<div class='item'>5</div>
</div>






